<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>옷홋</title>
    <link th:href="@{/css/header.css}" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <div th:fragment="header" class="header">
        <a class="logo-img" th:href="@{/}">
            <img th:src="@{/image/logo.png}" alt = "로고"/>
        </a>
        <ul class = "nav">
            <li>
                <a th:href="@{/planner/plannerWrite}" onclick="return login()" id="planner"> 여행 플래너
                    <input type="hidden" th:value="${loginMember}">
                </a>
            </li>
            <li>
                <a th:href="@{/recommend/travelRecommend}"> 여행지 추천
                    <input type="hidden" th:value="${loginMember}">
                </a>
            </li>
            <li>
                <a th:href="@{/record/recordList}"> 여행 기록
                    <input type="hidden" th:value="${loginMember}">
                </a>
            </li>
        </ul>
        <ul class = "enter">
            <th:block th:if="${loginMember == 1}">
                <li><a th:href="@{/myPage/myPage}"> 마이페이지 </a></li>
                <li><a th:href="@{/logout}"> 로그아웃 </a></li> <!-- 로그아웃 처리 필요-->
            </th:block>
            <th:block th:unless="${loginMember == 1}">
                <li><a th:href="@{/user-signup}"> 회원가입 </a></li>
                <li><a th:href="@{/login}"> 로그인 </a></li>
            </th:block>
        </ul>
    </div>
</body>

<script th:inline="javascript">
    /*<![CDATA[*/

    let loginState = [[${loginMember}]];
    console.log(loginState)

    function login(){
        if(loginState == 0){
            alert("로그인 후 이용해주세요!");
            $('#planner').attr("href", "/login") //  이동경로를 login 으로 변경
            return true;
        }
        else {
            return true;
        }
    }
    /*]]>*/
</script>

</html>