<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>header</title>
    <link th:href="@{/css/header.css}" rel="stylesheet" type="text/css">
</head>
<body>
    <div th:fragment="header" class="header">
        <img th:src="@{/image/logo.png}" alt = "로고"/>
        <ul class = "nav">
            <li><a href="#"> 여행 플래너</a></li>
            <li><a th:href="@{/recommend/travelRecommend}"> 여행지 추천</a></li>
            <li><a th:href="@{/record/recordList}"> 여행 기록</a></li>
        </ul>
        <ul class = "enter">
            <th:block th:if="${session.loginUser.getUserNo() == null}">
                <li><a th:href="@{/user-signup}"> 회원가입 </a></li>
                <li><a th:href="@{/login}"> 로그인 </a></li>
            </th:block>
            <th:block th:unless="${session.loginUser.getUserNo() == null}">
                <li><a th:href="@{/myPage/myPage}"> 마이페이지 </a></li>
                <li><a th:href="@{/login}"> 로그아웃 </a></li>
            </th:block>
        </ul>
    </div>
</body>
</html>