<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/userProfile.css}" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="left-area">
    <div class="profile">
      <h2 class="nickname" th:text="${UserInfo.userDTO.nickname}"></h2>
      <div class="userId" th:text="${UserInfo.userDTO.userId}"></div>
      <div class="userTag">
                      <span th:each=" userTag : ${UserTag}">
                          <span th:text="${userTag}"></span>
                      </span>
      </div>
      <div class="intro">
        <pre  th:text="${UserInfo.userDTO.intro}"> </pre>
      </div>
    </div>

    <div class="menu">
      <div class="my-menu"> MyMenu</div>
      <div class="travleMenu">
        <ul> 여행정보
          <a th:href="@{/myPage/myPage}"> <li> 내 뱃지 </li> </a>
          <a href="#"> <li> 플래너 </li> </a>
          <a href="#"> <li> 북마크 </li> </a>
          <a th:href="@{/myPage/myRecord}"> <li> 내 여행기록 </li> </a>
          <a th:href="@{/myPage/myHeart}"> <li> 좋아요한 여행기록 </li> </a>
        </ul>
      </div>
      <div class="myInfoMenu">
        <ul> 내 정보
          <a href="#"> <li> 회원 정보 수정 </li> </a>
          <a href="#"> <li> 회원 탈퇴 </li> </a>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>