<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>옷홋</title>
  <link th:href="@{/css/myActivity.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div th:replace="common/header.html"></div>
<div class="myPage">
  <div th:replace="common/userProfile.html"> </div>

  <div class="content-area">
    <h3> 내 북마크 </h3>
    <hr>
    <table class="myActivity">
      <thead>
      <tr>
        <th> 번호 </th>
        <th> 여행지 </th>
        <th> 주소 </th>
      </tr>
      </thead>

      <tbody>
      <tr th:each=" myBookmark : ${myBookmark}">
        <td th:text="${myBookmark.placeDTO.rowNum}"></td>
        <td>
          <a th:text="${myBookmark.placeDTO.placeName}" href="/recommend/recommendDetail/" th:attrappend="href=${myBookmark.placeDTO.placeId}"/>
        </td>
        <td th:text="${myBookmark.placeDTO.address}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

</body>
</html>