<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>myRecord</title>
    <link th:href="@{/css/myRecord.css}" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
  <div th:replace="common/header.html"></div>
  <div class="myPage">
    <div th:replace="common/userProfile.html"> </div>

      <div class="content-area">
          <h3> 내 여행기록 </h3>
          <hr>
          <table class="myRecord">
              <thead>
              <tr>
                  <th> 번호 </th>
                  <th> 제목 </th>
                  <th> 여행지 </th>
                  <th> 작성자 </th>
              </tr>
              </thead>

              <tbody>
              <tr th:each=" myHeart : ${MyHeart}">
                  <td th:text="${myHeart.recordNo}"></td>
                  <td th:text="${myHeart.rcTitle}"></td>
                  <td th:text="${myHeart.cityDTO.locationDTO.locName} + ' ' + ${myHeart.cityDTO.cityName}"></td>
                  <td th:text="${myHeart.userDTO.nickname}"></td>
              </tr>
              </tbody>
          </table>
      </div>
  </div>

</body>
</html>