<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>나의플래너</title>
</head>
<body>
<form>
<h1>플래너</h1>

<table>
<tr>
    <th>예상여행지</th>
    <th>여행일</th>
</tr>
</table>
    <ul>
        <li th:each="planner : ${ plannerList }">
            <a th:href="@{/mypage/myPlanner/myPlannerDetail}">[[${planner.travelPlace}]]</a>

        </li>

    </ul>
<!--<tr th:each="planner : ${ plannerList }">

    <td th:text="${ planner.travelPlace }">
        <a th:href="@{/mypage/myPlannerDetail}">[[${plannerList}]]</a>
    </td>
    <td th:text="${ planner.startDueDate }"></td>
</tr>-->

</form>
</body>
</html>