<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team.semiTravelRecommend.model.dao.MainPageMapper"><!-- 메퍼위치하고  동일하게 네임스페이스 작성-->

    <resultMap type="com.team.semiTravelRecommend.model.dto.PlaceDTO" id="placeResultMap">
        <id property="placeId" column="PLACE_ID"/>
        <result property="placeName" column="PLACE_NAME"/>
        <result property="address" column="ADDRESS"/>
        <result property="tel" column="TEL"/>
        <result property="plImgPath" column="PL_IMG_PATH"/>
        <result property="contentType" column="CONTENT_TYPE"/>
        <result property="tagCode" column="TAG_CODE"/>
        <result property="contentDetail" column="CONTENT_DETAIL"/>
        <association property="tagDTO" column="TAG_CODE" resultMap="tagResultMap"/>

        <collection property="cityDTO" column="CITY_CODE" resultMap="cityResultMap"/>
    </resultMap>

    <resultMap type="com.team.semiTravelRecommend.model.dto.CityDTO" id="cityResultMap">
        <id property="cityCode" column="CITY_CODE"/>
        <result property="cityName" column="CITY_NAME"/>
        <result property="badgeImg" column="BADGE_IMG"/>
        
        <association property="locationDTO" column="LOC_CODE" resultMap="locResultMap"/>

    </resultMap>
    <resultMap type="com.team.semiTravelRecommend.model.dto.LocationDTO" id="locResultMap">
        <id property="locCode" column="LOC_CODE"/>
        <result property="locName" column="LOC_NAME"/>

    </resultMap>
    <resultMap type="com.team.semiTravelRecommend.model.dto.TagDTO" id="tagResultMap">
        <id property="tagCode" column="TAG_CODE"/>
        <result property="tagName" column="TAG_NAME"/>
        <result property="iconImg" column="ICON_IMG"/>


    </resultMap>

    <select id="readTopLank" resultMap="placeResultMap">
        SELECT
            ROWNUM,
            B.*
        FROM
            (
            SELECT
                A.PLACE_ID ,
                B.PLACE_NAME ,
                B.PL_IMG_PATH ,
                C.TAG_NAME ,
                D.CITY_NAME ,
                E.LOC_NAME
            FROM
                (
                SELECT
                PLACE_ID ,
                COUNT(*) AS CNT
                FROM BOOKMARK
                GROUP BY PLACE_ID
                ) A
                JOIN PLACE B ON A.PLACE_ID = B.PLACE_ID
                JOIN TAG C ON B.TAG_CODE = C.TAG_CODE
                JOIN CITY D ON B.CITY_CODE = D.CITY_CODE
                JOIN LOCATION E ON D.LOC_CODE = E.LOC_CODE
                ORDER BY A.CNT DESC
            ) B
        WHERE ROWNUM  <![CDATA[ <= ]]> 3
    </select>



    <!-- 태그를 보여주는 쿼리 -->
    <select id="readTagList" resultMap="tagResultMap">
        SELECT
            *
        FROM TAG
    </select>

</mapper>