<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team.semiTravelRecommend.model.dao.RecordMapper"><!-- 메퍼위치하고  동일하게 네임스페이스 작성-->

    <resultMap id="recordResultMap" type="com.team.semiTravelRecommend.model.dto.RecordDTO">
        <id property="recordNo" column="RECORD_NO"/>
        <result property="rcTitle" column="RC_TITLE"/>
        <result property="rcDetail" column="RECORD_DETAIL"/>
        <result property="travelStartDate" column="TRAVEL_START_DATE"/>
        <result property="travelEndDate" column="TRAVEL_END_DATE"/>
        <association property="cityDTO" column="CITY_CODE" resultMap="cityResultMap"/>
        <association property="userDTO" column="USER_NO" resultMap="userResultMap"/>
        <association property="tagDTO" column="RECORD_TAG" resultMap="tagResultMap"/>
        <association property="fileDTO" column="IMG_FILE_NO" resultMap="fileResultMap"/>
    </resultMap>

    <resultMap id="cityResultMap" type="com.team.semiTravelRecommend.model.dto.CityDTO">
        <id property="cityCode" column="CITY_CODE"/>
        <result property="cityName" column="CITY_NAME"/>
        <result property="badgeImg" column="BADGE_IMG"/>
        <association property="locationDTO" column="LOC_CODE" resultMap="locationResultMap"/>
    </resultMap>

    <resultMap id="locationResultMap" type="com.team.semiTravelRecommend.model.dto.LocationDTO" >
        <id property="locCode" column="LOC_CODE"/>
        <result property="locName" column="LOC_NAME"/>
    </resultMap>

    <resultMap id="userResultMap" type="com.team.semiTravelRecommend.model.dto.UserDTO">
        <id property="userNo" column="USER_NO"/>
        <result property="userId" column="USER_ID"/>
        <result property="userPwd" column="USER_PWD"/>
        <result property="userName" column="USER_NAME"/>
        <result property="Email" column="EMAIL"/>
        <result property="nickname" column="NICKNAME"/>
        <result property="status" column="STATUS"/>
        <result property="intro" column="INTRO"/>
    </resultMap>

    <resultMap id="tagResultMap" type="com.team.semiTravelRecommend.model.dto.TagDTO">
        <id property="tagCode" column="TAG_CODE"/>
        <result property="tagName" column="TAG_NAME"/>
    </resultMap>

    <resultMap id="fileResultMap" type="com.team.semiTravelRecommend.model.dto.FileDTO">
        <id property="fileNo" column="FILE_NO"/>
        <result property="fileSize" column="FILE_SIZE"/>
        <result property="originName" column="ORIGINNAME"/>
        <result property="changeName" column="CHANGENAME"/>
        <result property="imgPath" column="OH_PATH"/>
    </resultMap>

    <select id="recordOne" resultMap="recordResultMap">
        SELECT
            A.* ,
            B.* ,
            C.* ,
            D.* ,
            E.* ,
            F.*
        FROM OH_RECORD A
        JOIN CITY B ON A.CITY_CODE = B.CITY_CODE
        JOIN LOCATION C ON B.LOC_CODE = C.LOC_CODE
        JOIN OH_USER D ON A.USER_NO = D.USER_NO
        JOIN TAG E ON A.RECORD_TAG = E.TAG_CODE
        JOIN OH_FILE F ON A.IMG_FILE_NO = F.FILE_NO
        WHERE A.RECORD_NO = #{ recordNo }
    </select>

    <select id="heartCheck" resultType="_int">
        SELECT COUNT(*)
        FROM HEART A
        WHERE A.RECORD_NO = #{recordNo}
          AND A.USER_NO = #{userNo}
    </select>

    <delete id="deleteHeart" parameterType="_int">
        DELETE FROM HEART
        WHERE USER_NO = #{userNo}
          AND RECORD_NO = #{recordNo}
    </delete>

    <insert id="insertHeart" parameterType="_int">
        INSERT INTO HEART
        VALUES (
                #{userNo},
                #{recordNo}
                )
    </insert>

    <select id="recordListPaging" resultMap="recordResultMap">
        SELECT *
            FROM (
                SELECT
                ROWNUM AS RNUM,
                ALLRECORD.*
                    FROM (
                        SELECT
                        A.RECORD_NO ,
                        A.RC_TITLE ,
                        B.CITY_NAME ,
                        C.LOC_NAME ,
                        D.NICKNAME ,
                        E.TAG_NAME ,
                        F.OH_PATH ,
                        B.BADGE_IMG
                        FROM OH_RECORD A
                        JOIN CITY B ON A.CITY_CODE = B.CITY_CODE
                        JOIN LOCATION C ON B.LOC_CODE = C.LOC_CODE
                        JOIN OH_USER D ON A.USER_NO = D.USER_NO
                        JOIN TAG E ON A.RECORD_TAG = E.TAG_CODE
                        JOIN OH_FILE F ON A.IMG_FILE_NO = F.FILE_NO
                        ORDER BY RECORD_NO DESC
                    ) ALLRECORD
                 WHERE ROWNUM<![CDATA[ <= #{ endRow }]]>
            ) WHERE RNUM<![CDATA[>= #{ startRow }]]>
    </select>

    <select id="findAllCnt" resultType="_int">
        SELECT COUNT(*)
        FROM OH_RECORD
    </select>

    <select id="readLocation" resultMap="locationResultMap">
        SELECT
            *
        FROM LOCATION
    </select>

    <select id="readCity" resultMap="cityResultMap">
        SELECT
            A.CITY_CODE,
            A.CITY_NAME,
            B.LOC_NAME
        FROM CITY A
        JOIN LOCATION B ON A.LOC_CODE = B.LOC_CODE
        WHERE A.LOC_CODE = #{ locCode }
    </select>

    <select id="readTag" resultMap="tagResultMap">
        SELECT
            *
        FROM TAG
    </select>

    <select id="returnFileNo" resultType="_int">
        SELECT
            FILE_NO
        FROM OH_FILE
        WHERE CHANGENAME = #{ changeName }
    </select>

    <insert id="saveFile">
        INSERT INTO OH_FILE
            (
                FILE_NO,
                FILE_SIZE,
                ORIGINNAME,
                CHANGENAME,
                OH_PATH
            )
            VALUES
            (
                SEQ_FILE_NO.NEXTVAL,
                #{ fileSize },
                #{ originName },
                #{ changeName },
                #{ imgPath }
            )

    </insert>

    <insert id="insertRecord">
        INSERT INTO OH_RECORD
        (
            RECORD_NO,
            USER_NO,
            RC_TITLE,
            RECORD_TAG,
            RECORD_DETAIL,
            CITY_CODE,
            TRAVEL_START_DATE,
            TRAVEL_END_DATE,
            IMG_FILE_NO
        )
        VALUES
            (
                SEQ_RECORD_NO.NEXTVAL,
                #{userNo},
                #{rcTitle },
                #{recordTag},
                #{rcDetail},
                #{cityCode},
                #{travelStartDate},
                #{travelEndDate},
                #{imgFileNo}
            )

    </insert>


    <update id="editRecord">
        UPDATE OH_RECORD
        SET RC_TITLE=#{rcTitle},
            CITY_CODE=#{cityCode},
            TRAVEL_START_DATE=#{travelStartDate},
            TRAVEL_END_DATE=#{travelEndDate},
            RECORD_TAG=#{recordTag},
            RECORD_DETAIL=#{rcDetail},
            IMG_FILE_NO=#{imgFileNo}
        WHERE RECORD_NO=#{recordNo}
    </update>

    <delete id="deleteImgFile" parameterType="String">
        DELETE FROM OH_FILE
        WHERE CHANGENAME = #{changeName}
    </delete>


    <delete id="deleteRecord" parameterType="_int">
        DELETE FROM OH_RECORD
        WHERE RECORD_NO = #{recordNo}
    </delete>

</mapper>