<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team.semiTravelRecommend.model.dao.RecommendMapper"><!-- 메퍼위치하고  동일하게 네임스페이스 작성-->

    <resultMap type="com.team.semiTravelRecommend.model.recommend.PlaceDTO" id="placeResultMap">
        <id property="placeId" column="PLACE_ID"/>
        <result property="placeName" column="PLACE_NAME"/>
        <result property="address" column="ADDRESS"/>
        <result property="tel" column="TEL"/>
        <result property="plImgPath" column="PL_IMG_PATH"/>
        <result property="contentType" column="CONTENT_TYPE"/>
        <result property="tagCode" column="TAG_CODE"/>
        <result property="contentDetail" column="CONTENT_DETAIL"/>

        <collection property="cityDTO" column="CITY_CODE" resultMap="cityResultMap"/>
    </resultMap>
    <resultMap type="com.team.semiTravelRecommend.model.dto.CityDTO" id="cityResultMap">
        <id property="cityCode" column="CITY_CODE"/>
        <result property="cityName" column="CITY_NAME"/>
        <result property="badgeImg" column="BADGE_IMG"/>
        
        <association property="locationDTO" column="LOC_CODE" resultMap="locResultMap"/>

    </resultMap>
    <resultMap type="com.team.semiTravelRecommend.model.recommend.LocationDTO" id="locResultMap">
        <id property="locCode" column="LOC_CODE"/>
        <result property="locName" column="LOC_NAME"/>

    </resultMap>
    <resultMap type="com.team.semiTravelRecommend.model.recommend.TagDTO" id="tagResultMap">
        <id property="tagCode" column="TAG_CODE"/>
        <result property="tagName" column="TAG_NAME"/>
        <result property="iconImg" column="ICON_IMG"/>


    </resultMap>
    <!-- 태그를 보여주는 여행지 -->
    <select id="showTag" resultMap="tagResultMap">
        select
            *
        from TAG
    </select>
    <!-- 맨 처음 보여주는 여행지들 -->
    <select id="travelDetail" resultMap="placeResultMap">
        SELECT *
        FROM PLACE p
                 JOIN CITY c ON p.CITY_CODE = c.CITY_CODE
                 JOIN LOCATION l ON c.LOC_CODE =l.LOC_CODE
        where p.PLACE_ID = '${travelInfo}'

    </select>
    <!-- 태그에 맞는 여행지 선정 -->
    <select id="tagRecommendTravel" resultMap="placeResultMap">
        SELECT *
        FROM PLACE p
        JOIN CITY c ON p.CITY_CODE = c.CITY_CODE
        JOIN LOCATION l ON c.LOC_CODE =l.LOC_CODE
        where p.TAG_CODE = '${tagCode}'
    </select>
    <!-- 총 여행지 갯수 -->
    <select id="countTravel" resultType="_int">
        select count(*) from PLACE
    </select>
    <!-- 페이징 리스트 -->
    <select id="listPaging"  resultMap="placeResultMap">
        select *
        from(
            select rownum as rnum, a.*
            from(
                select *
                from PLACE p
                JOIN CITY c ON p.CITY_CODE = c.CITY_CODE
                JOIN LOCATION l ON c.LOC_CODE =l.LOC_CODE
                order by PLACE_ID desc
                )a
                where ROWNUM<![CDATA[<= #{ endRow }]]>
            )
            where rnum<![CDATA[>= #{ startRow }]]>
    </select>
    <!-- 북마크 체크 -->
    <select id="checkBookmark" resultType="_int">
        select COUNT(*)
        from BOOKMARK
        where USER_NO = #{userNo}
        and place_ID = #{placeId}
    </select>
    <!-- 북마크 제거 -->
    <delete id="deleteBookmark" parameterType="_int">
        DELETE FROM BOOKMARK
        WHERE USER_NO = #{userNo}
          AND PLACE_ID = #{placeId}
    </delete>
    <!-- 북마크 생성 -->
    <insert id="insertBookmark" parameterType="_int">
        insert into BOOKMARK
        values (
                #{userNo} ,
                #{placeId}
               )
    </insert>


</mapper>