<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team.semiTravelRecommend.model.dao.RecordMapper"><!-- 메퍼위치하고  동일하게 네임스페이스 작성-->

    <resultMap id="recordResultMap" type="com.team.semiTravelRecommend.model.dto.record.RecordDTO">
        <id property="recordNo" column="RECORD_NO"/>
<!--        <result property="userNo" column="USER_NO"/>-->
        <result property="rcTitle" column="RC_TITLE"/>
        <result property="rcDetail" column="RECORD_DETAIL"/>
        <result property="travelStartDate" column="TRAVEL_START_DATE"/>
        <result property="travelEndDate" column="TRAVEL_END_DATE"/>
        <association property="cityDTO" column="CITY_CODE" resultMap="cityResultMap"/>
        <association property="userDTO" column="USER_NO" resultMap="userResultMap"/>
        <association property="tagDTO" column="RECORD_TAG" resultMap="tagResultMap"/>
    </resultMap>

    <resultMap id="cityResultMap" type="com.team.semiTravelRecommend.model.dto.record.CityDTO">
        <id property="cityCode" column="CITY_CODE"/>
        <result property="cityName" column="CITY_NAME"/>
        <result property="badgeImg" column="BADGE_IMG"/>
        <association property="locationDTO" column="LOC_CODE" resultMap="locationResultMap"/>
    </resultMap>

    <resultMap id="locationResultMap" type="com.team.semiTravelRecommend.model.dto.record.LocationDTO" >
        <id property="locCode" column="LOC_CODE"/>
        <result property="locName" column="LOC_NAME"/>
    </resultMap>

    <resultMap id="userResultMap" type="com.team.semiTravelRecommend.model.dto.record.UserDTO">
        <id property="userNo" column="USER_NO"/>
        <result property="userId" column="USER_ID"/>
        <result property="userPwd" column="USER_PWD"/>
        <result property="userName" column="USER_NAME"/>
        <result property="Email" column="EMAIL"/>
        <result property="nickname" column="NICKNAME"/>
        <result property="status" column="STATUS"/>
        <result property="intro" column="INTRO"/>
        <result property="profileImg" column="PROFILE_IMG"/>
        <!-- 나중에 file 테이블과 join 해야하니까 association 으로 변경해야함 -->
    </resultMap>

    <resultMap id="tagResultMap" type="com.team.semiTravelRecommend.model.dto.record.TagDTO">
        <id property="tagCode" column="TAG_CODE"/>
        <result property="tagName" column="TAG_NAME"/>
    </resultMap>

<!--    <resultMap id="RecordTagResultMap" type="com.team.semiTravelRecommend.model.dto.record.RecordTagDTO">-->
<!--        <association property="recordNo" column="RECORD_NO" resultMap="recordResultMap"/>-->
<!--        <association property="tagCode" column="TAG_CODE" resultMap="tagResultMap"/>-->
<!--    </resultMap>-->

    <select id="readRecordOne" resultMap="recordResultMap">
        SELECT
            A.RECORD_NO ,
            D.NICKNAME ,
            A.RC_TITLE ,
            A.RECORD_DETAIL ,
            E.TAG_NAME ,
            A.TRAVEL_START_DATE ,
            A.TRAVEL_END_DATE ,
            C.LOC_NAME ,
            B.CITY_NAME
        FROM OH_RECORD A
        JOIN CITY B ON A.CITY_CODE = B.CITY_CODE
        JOIN LOCATION C ON B.LOC_CODE = C.LOC_CODE
        JOIN OH_USER D ON A.USER_NO = D.USER_NO
        JOIN TAG E ON A.RECORD_TAG = E.TAG_CODE
        WHERE A.RECORD_NO = #{ recordNo }
    </select>

    <select id="recordList" resultMap="recordResultMap">
        SELECT
            A.RECORD_NO ,
            A.RC_TITLE ,
            D.NICKNAME ,
            C.LOC_NAME ,
            B.CITY_NAME
        FROM OH_RECORD A
        JOIN CITY B ON A.CITY_CODE = B.CITY_CODE
        JOIN LOCATION C ON B.LOC_CODE = C.LOC_CODE
        JOIN OH_USER D ON A.USER_NO = D.USER_NO
        ORDER BY RECORD_NO DESC
    </select>

    <select id="readLocation" resultMap="locationResultMap">
        SELECT
            *
        FROM LOCATION
    </select>

    <select id="readCity" resultMap="cityResultMap">
        SELECT
            *
        FROM CITY
        WHERE LOC_CODE = #{ locCode }
    </select>

    <select id="readTag" resultMap="tagResultMap">
        SELECT
            *
        FROM TAG
    </select>

    <insert id="saveFile">
        INSERT INTO OH_FILE
            (
                FILE_NO,
                FILE_SIZE,
                ORIGINNAME,
                CHANGENAME,
                OH_PATH,
                RECORD_NO
            )
            VALUES
            (
                SEQ_FILE_NO.NEXTVAL,
                #{ fileSize },
                #{ originName },
                #{ changeName },
                #{ imgPath },
                #{ recordNo }
            )

    </insert>

    <insert id="insertRecord">
        INSERT INTO OH_RECORD
        (
            RECORD_NO,
            USER_NO,
            RC_TITLE,
            RECORD_TAG,
            RECORD_DETAIL,
            TRAVEL_START_DATE,
            TRAVEL_END_DATE
        )
        VALUES
            (
                SEQ_RECORD_NO.NEXTVAL,
                #{userNo},
                #{rcTitle },
                #{recordTag},
                #{rcDetail},
                #{travelStartDate},
                #{travelEndDate}
            )

    </insert>


</mapper>