<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.semiTravelRecommend.model.dao.UserMapper">

    <resultMap id="userResultMap" type="com.team.semiTravelRecommend.model.dto.UserVO">
        <id property="userNo" column="USER_NO"/>
        <result property="userId" column="USER_ID"/>
        <result property="userName" column="USER_NAME"/>
        <result property="userPwd" column="USER_PWD"/>
        <result property="email" column="EMAIL"/>
        <result property="nickname" column="NICKNAME"/>

    </resultMap>

    <insert id="save" parameterType="com.team.semiTravelRecommend.model.dto.UserVO">
        INSERT INTO OH_USER (
                             USER_NO,
                             USER_ID,
                             USER_PWD,
                             USER_NAME,
                             EMAIL,
                             NICKNAME
        )
        VALUES (
                SEQ_USER_NO.NEXTVAL,
                #{userId},
                #{userPwd},
                #{userName},
                #{email},
                #{nickname}
            )
    </insert>

    <select id="findByUserId" parameterType="String" resultMap="userResultMap">
        SELECT *
        FROM OH_USER
        WHERE USER_ID = #{userId}
    </select>

    <select id="findByEmail" parameterType="String" resultMap="userResultMap">
        SELECT *
        FROM OH_USER
        WHERE EMAIL = #{email}
    </select>

    <update id="update" parameterType="com.team.semiTravelRecommend.model.dto.UserVO">
        UPDATE OH_USER
        SET USER_NAME=#{userName},
            USER_ID=#{userId},
            EMAIL=#{email}
        WHERE USER_NO = #{userNo}
    </update>

    <delete id="delete" parameterType="com.team.semiTravelRecommend.model.dto.UserVO">
        DELETE
        FROM OH_USER
        WHERE EMAIL = #{email}
    </delete>


    <select id="findUserNo" parameterType="String" resultType="_int">
        SELECT USER_NO
        FROM OH_USER
        WHERE USER_ID = #{ userId }
    </select>

    <insert id="insertUserTag" parameterType="Map">
        INSERT INTO USERTAG
        (
            USER_NO,
            TAG_CODE
        )
        VALUES
        (
           #{userNo},
           #{tagCode}
        )
    </insert>


</mapper>