<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div th:replace="/common/header.html"></div>
    <a name="Top"></a>
    <div class="main-img">
        <img src="IMG_4149.JPG" alt="메인이미지"/>
    </div>

    <div class="recommend">
        <div class="hot">
            <h1> 가장 핫한 여행지 </h1>
        </div>
        <div class="top-3">
            <div class="recommend-one">
                <img src="IMG_4149.JPG" alt="추천장소이미지"/>
                <div class="place-info">
                    <h3> 여행지명 </h3>
                    <span> 지역정보 </span>
                    <span> 도시정보 </span>
                </div>
            </div>
            <div class="recommend-one">
                <img src="IMG_4149.JPG" alt="추천장소이미지"/>
                <div class="place-info">
                    <h3> 여행지명 </h3>
                    <span> 여행지 정보 </span>
                </div>
            </div>
            <div class="recommend-one">
                <img src="IMG_4149.JPG" alt="추천장소이미지"/>
                <div class="place-info">
                    <h3> 여행지명 </h3>
                    <span> 여행지 정보 </span>
                </div>
            </div>
        </div>
    </div>

    <div class="keyword">
        <h1> 키워드로 여행지 찾기 </h1>
        <div class="choice-keyword">
            <div class="keyword-one">
                <img src="IMG_4149.JPG" alt="키워드이미지"/>
                <div> 키워드명 </div>
            </div>
            <div class="keyword-one">
                <img src="IMG_4149.JPG" alt="키워드이미지"/>
                <div> 키워드명 </div>
            </div>
            <div class="keyword-one">
                <img src="IMG_4149.JPG" alt="키워드이미지"/>
                <div> 키워드명 </div>
            </div>
            <div class="keyword-one">
                <img src="IMG_4149.JPG" alt="키워드이미지"/>
                <div> 키워드명 </div>
            </div>
            <div class="keyword-one">
                <img src="IMG_4149.JPG" alt="키워드이미지"/>
                <div> 키워드명 </div>
            </div>
            <div class="keyword-one">
                <img src="IMG_4149.JPG" alt="키워드이미지"/>
                <div> 키워드명 </div>
            </div>
            <div class="keyword-one">
                <img src="IMG_4149.JPG" alt="키워드이미지"/>
                <div> 키워드명 </div>
            </div>
            <div class="keyword-one">
                <img src="IMG_4149.JPG" alt="키워드이미지"/>
                <div> 키워드명 </div>
            </div>
            <div class="keyword-one">
                <img src="IMG_4149.JPG" alt="키워드이미지"/>
                <div> 키워드명 </div>
            </div>
            <div class="keyword-one">
                <img src="IMG_4149.JPG" alt="키워드이미지"/>
                <div> 키워드명 </div>
            </div>
            <div class="keyword-one">
                <img src="IMG_4149.JPG" alt="키워드이미지"/>
                <div> 키워드명 </div>
            </div>
            <div class="keyword-one">
                <img src="IMG_4149.JPG" alt="키워드이미지"/>
                <div> 키워드명 </div>
            </div>
            <div class="keyword-one">
                <img src="IMG_4149.JPG" alt="키워드이미지"/>
                <div> 키워드명 </div>
            </div>
            <div class="keyword-one">
                <img src="IMG_4149.JPG" alt="키워드이미지"/>
                <div> 키워드명 </div>
            </div>
            <div class="keyword-one">
                <img src="IMG_4149.JPG" alt="키워드이미지"/>
                <div> 키워드명 </div>
            </div>
        </div>
    </div>
    <a href="#Top" id="top-button"> ▲ TOP
        <!-- <img src="edit.png" alt="임시버튼이미지"/> -->
    </a>

</body>
</html>