<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form action="/record/comment" method="post">
    <div>
      <tr>
        <td>회원</td>
        <td><input type="text" name="user_no">임시 회원</td>
        <td><input type="text" name="record_no">임시 기록번호</td>
        <td><textarea rows="5" cols="50" name="com_contain"></textarea></td>
        <td><button type="submit">댓글 등록</button> </td>
      </tr>
      <div name="showComment">

      </div>

    </div>
  </form>
</body>
</html>