<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RecordList</title>
    <link th:href="@{/css/RecordList.css}" rel="stylesheet" type="text/css">
</head>
<body>
  <div th:replace="common/header.html"> 서버렌더링을 거쳐야 헤더가 정상적으로 불러와짐 </div>
      <div class="record">
        <div th:each=" recordList : ${ RecordList }" class="recordOne">
            <div th:text="${recordList.userDTO.nickname}" class="nickname"></div>
            <img class="record-img" src="IMG_0415.JPG" alt="여행기록사진"/>
            <div class="info">
                <div class="local">
                    <div class="mascot-img">
                        <img  src="IMG_0415.JPG" alt="유저프로필사진"/>
                    </div>
                    <span th:text="${recordList.cityDTO.locationDTO.locName}" class="localName"></span>
                    <span th:text="${recordList.cityDTO.cityName}"></span>
                </div>
                <div class="tag">
                    <span> 태그1 </span>
                    <span> 태그2 </span>
                    <span> 태그3 </span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>