<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>recordDetail</title>
    <link th:href="@{/css/recordDetail.css}" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        const successMessage = "[[${ successMessage}]]";
        if (successMessage){
            alert(successMessage);
        }
    </script>
</head>
<body>
<div th:replace="common/header.html"></div>
    <div class="posting">
        <button class="back-list" type="button" th:onclick="|location.href='@{/record/recordList}'|"> 목록으로 돌아가기 </button>
        <div class="head">
            <div class="mascot">
                <div class="mascot-img">
                    <img th:src="@{${RecordOne.cityDTO.badgeImg}}" alt="마스코트이미지"/>
                </div>
                <h6 th:text="${RecordOne.cityDTO.locationDTO.locName}" class="localName"></h6>
                <h6 th:text="${RecordOne.cityDTO.cityName}"></h6>
            </div>

            <h2 th:text="${RecordOne.rcTitle}"></h2>

            <div class="writer">
                <span> 작성자 : </span>
                <span th:text="${RecordOne.userDTO.nickname}"></span>
            </div>

            <div class="travelDate">
                <span> 여행일자 : </span>
                <span class="date" th:text="${RecordOne.travelStartDate}"></span>
                <span> ~ </span>
                <span class="date" th:text="${RecordOne.travelEndDate}" ></span>
            </div>
        </div>

        <img  th:src="@{${RecordOne.fileDTO.imgPath}}" alt="여행지사진" class="travelImg" th:name="imgFile"/>

        <div class="content">
            <pre th:text="${RecordOne.rcDetail}"></pre>
            <div class="tag">
                <span th:text="${RecordOne.tagDTO.tagName}"></span>
            </div>
        </div>

        <div class="heart">
            <th:block th:if ="${heartCheck == 0}">
                <img th:id="btn_heart" th:src="@{/image/heart_before.png}" alt="빈하트이미지" onclick="changeHeart()"/>
                <span>게시글 저장하기</span>
            </th:block>
            <th:block th:if ="${heartCheck == 1}">
                <img th:id="btn_heart" th:src="@{/image/heart_after.png}" alt="꽉찬하트이미지" onclick="changeHeart()"/>
                <span>게시글 저장하기</span>
            </th:block>
            <th:block th:if ="${heartCheck == 2}">
<!--                <img th:id="btn_heart" th:src="@{/image/heart_before.png}" alt="빈하트이미지" onclick="changeHeart()"/>-->
            </th:block>
            <th:block th:if="${session.loginUser.getUserNo() == null}">
                <img th:id="btn_heart" th:src="@{/image/heart_before.png}" alt="빈하트이미지" onclick="changeHeart()"/>
                <span>게시글 저장하기</span>
            </th:block>
        </div>

        <div>댓글 : <span id="comCount">0</span></div>
        <!-- 댓글리스트 -->
        <div>
            <div>
                <form>
                    <table>
                        <tr id="commentListView">
                            <!-- 댓글 리스트 -->
                        </tr>
                        <!-- 작성자와 같을 경우 수정 삭제 -->
                        <tr class="updateBox">
                            <textarea name="boxUpdate" id="boxUpdate"></textarea>
                            <input type="hidden" name="commentId" th:value="${}"
                            <button id="updateOk">확인</button>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <div class="comment-form"  id="commentArea">
            <!--            사이즈 조정하기~-->
            <div class="profile">
                <div class="profile-img">
<!--                    <img src="/image/profile.png" alt="프로필이미지"/>-->
                </div>
                <span class="writer"> 작성자 </span>
            </div>
            <div>
                <input type="hidden" id="userNo" name="writer" th:value="${session.loginUser.getUserNo()}">
                <input type="hidden" id="recordNo" name="recordNo" th:value="${RecordOne.recordNo}"/>
                <textarea name="comContain" id="commentContain"></textarea>
                <button id="commentSubmit">등록</button>
            </div>
        </div>

        <div class="edit-delete">
            <th:block th:if ="${samePerson == 0}">
                <form class="edit" action="/record/editRecord" method="post" enctype="multipart/form-data">
                    <input type="hidden" th:name="recordNo" th:value="${RecordOne.recordNo}"/>
                    <button type="submit"> 수정 </button>
                </form>
                <form class="delete" action="/record/deleteRecord" method="post">
                    <input type="hidden" th:name="recordNo" th:value="${RecordOne.recordNo}"/>
                    <button type="submit"> 삭제 </button>
                </form>
            </th:block>
        </div>
    </div>
</body>
    <script th:inline="javascript">
        /*<![CDATA[*/

        let recordNo = [[${RecordOne.recordNo}]];
        let userNo = [[${userNo}]];
        let heartCheck = [[${heartCheck}]];
        console.log(heartCheck);

        function changeHeart(){
            if(heartCheck == 0 || heartCheck == 1){
                $.ajax({
                    type:"POST",
                    url:"/record/clickHeart",
                    data: { 'recordNo' : recordNo,
                        'userNo' : userNo},
                    dataType: "json",
                    success: function(result){
                        if (result == 1) {
                            $("#btn_heart").attr("src", "/image/heart_before.png");
                        }
                        else {
                            $("#btn_heart").attr("src", "/image/heart_after.png");
                        }
                    }
                });
            }
            else {
                alert("로그인 후 이용해주세요!");
            }
        }
        /*]]>*/
    </script>
<script th:inline="javascript">
    $(function (){
        commentList(); // selectReplyList
        // 댓글 등록 버튼 클릭시
        $("#commentSubmit").click(function (){

            const userNo = document.getElementById('userNo').value;
            let recordNo = document.getElementById('recordNo').value;
            // 댓글을 작성하지 않고 버튼 클릭시 작성 안되게
            if($("#commentContain").val().trim().length != 0){

                $.ajax({
                    url : "/record/insertComment" ,
                    type : "post" ,
                    data:{comContain:$("#commentContain").val() ,
                        recordNo: recordNo ,
                        userNo: userNo},
                    success:function (result){
                        console.log(result);
                        if(result > 0){
                            $("#commentContain").val("");
                            commentList();
                        }else{
                            alert("댓글을 등록할 수 없습니다.");
                        }
                    },error:function (){
                        console.log("ajax 실패");
                    }
                });
            }else{
                alert("댓글을 작성하고 눌러주세요");
            }
        });
    });


    function commentList() {
        let recordNo = document.getElementById('recordNo').value;
        let sessionUserNo = [[${session.loginUser.getUserNo()}]]
        let nickname = [[${RecordOne.getUserDTO().getNickname()}]];
        $.ajax({
            url: "/record/listComment",
            data: {'recordNo': recordNo},
            type: "post",
            dataType: "json",
            success: function (list) {
                $("#comCount").text(list.length);// 총 댓글수

                let value = "";
                $.each(list, function (i, obj) {
                    if (sessionUserNo == userNo) {
                        value += "<tr>"
                            + "<th>"
                            + nickname
                            + "<a href='#' class='btnUpadate' onclick='updateComment()'>수정</a>"
                            + "<a></a>"
                            + "</th>";
                    } else {
                        value += "<tr>"
                            + "<th>" + nickname + "</th>"
                    }
                    value += "<td>" + " | " + obj.comContain + "</td>"
                        + "<tr/>";

                });
                $("#commentListView").html(value);
            }, error: function () {
                console.log("댓글 리스트 ajax 실패");
            }
        });
    }

    function updateComment() {

        const updateForm = document.getElementById('boxUpdate').value;

        $.ajax({
            url : "/record/updateComment" ,
            type : "post" ,
            data : {comContain: $("#boxUpdate").val(),
                    },
            success:function (){
                console.log('update ajax 성공')
            },
            error:function (){
                console.log('update ajax 오류')
            }
        })
    }

</script>
</html>