<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>여행기록하기</title>
    <link th:href="@{/css/travelRecordWrite.css}" rel="stylesheet" type="text/css">
</head>

<body>
  <div th:replace="common/header.html"></div>
  <div class="recordWriteForm">
    <h2> 여행기록하기 </h2>
    <form action="/record/travelRecordEdit" method="post" enctype="multipart/form-data">
      <div class="title">
        <label for="title-name"> 제목 </label>
        <input type="text" id="title-name" name="rcTitle" th:field="${RecordOne.rcTitle}">
      </div>

      <div class="local">
        <label> 여행지 </label>
        <select name="locCode">
            <option th:each="location : ${ Location }"
                    th:value="${ location.locCode}"
                    th:text="${location.locName}">
            </option>
          <option selected th:utext="${RecordOne.cityDTO.locationDTO.locName}"
                           th:value="${RecordOne.cityDTO.locationDTO.locCode}"> </option>
          <!-- selected : 초기에 선택되어있는 값 -->
        </select>

        <select id="city-code" name="cityCode">
            <option th:each="city : ${ City }"
                    th:value="${ city.cityCode}"
                    th:text="${city.cityName}">
            </option>
          <option selected th:utext="${RecordOne.cityDTO.cityName}"
                           th:value="${RecordOne.cityDTO.cityCode}">
          </option>
        </select>
      </div>

      <div class="date">
        <label for = "dateIn"> 여행 날짜 (시작일 - 종료일) </label>
        <span>
          시작일 : <input type = "date" name="travelStartDate" id="dateIn" th:field ="${RecordOne.travelStartDate}">
          종료일 : <input type = "date" name="travelEndDate" th:field ="${RecordOne.travelEndDate}">
        </span>
      </div>

      <div class="tag">
        <label> 태그 </label>
        <select name="recordTag">
<!--          <option th:each="tag : ${ Tag }"-->
<!--                  th:value="${ tag.tagCode}"-->
<!--                  th:text="${tag.tagName}">-->
<!--          </option>-->
          <option value="tagTest"> 태그 테스트 </option>
          <option selected th:utext="${RecordOne.tagDTO.tagName}"
                           th:value="${RecordOne.tagDTO.tagCode}">
          </option>
        </select>
      </div>

      <div class="content">
        <label> 내용 </label>
        <textarea name="rcDetail" th:text="${RecordOne.rcDetail}"></textarea>
      </div>

      <div class="imgFile">
        <input type="file" name="file" class="imgFile"/>
<!--        <pre th:text="${RecordOne.fileDTO.originName}"></pre>-->
      </div>

      <input type="hidden" th:name="recordNo" th:value="${RecordOne.recordNo}"/>
      <!--RecordNo을 보내주기 위해서 hidden으로 값을 담아줌-->
      <button type="submit"> 수정하기 </button>
    </form>
  </div>



<!-- <script>-->
<!--   function readCity(locCode, city) {-->
<!--     $.ajax({-->
<!--       url:"/record/city",-->

<!--       success: function (result) {-->
<!--         console.log(result)-->
<!--         for (let i = 0; i < result.length; i++) {-->
<!--           city.options[i] = new Option(result[i], );-->
<!--         }-->
<!--       }-->
<!--     }).fail(function (error) {-->
<!--       alert(JSON.stringify(error));-->
<!--     })-->
<!--   }-->
<!-- </script>-->

</body>
</html>