<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>여행기록하기</title>
    <script src="../travelRecord.js"></script>
</head>

<body>

  <div>
    <form action="record/result" method="post" id="recodeWrite">
      <h3>여행 기록하기</h3>
      <table align="center">
        <tr>
          <td>
            <span>제목</span>
          </td>
          <!-- rw : recodeWrite-->
          <td><input type="text" name="rwTitle"></td>
        </tr>
        <tr>
          <td>
            <span>여행지</span>
          </td>
          <td><input type="text" name="rwTravelPlace"></td>
        </tr>
        <tr>
          <td>
            <span>여행일자</span>
          </td>
          <td><input type="text" name="rwTravelDay"></td>
        </tr>
        <tr>
          <td>
            <span>태그</span>
          </td>
          <td><input type="text" name="rwTag"></td>
        </tr>
        <tr>
          <td>
            <span>내용</span>
          </td>
          <td><textarea name="rwContent"></textarea></td>
        </tr>
        <tr>
          <td>
            <span>사진첨부</span>
          </td>
          <td><input type="file" ></td>
        </tr>
        <tr>
          <td colspan="2" align="center"><input type="submit" value="등록"> </td>
        </tr>
      </table>
    </form>
  </div>
</body>
</html>