<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>여행기록하기</title>
    <link th:href="@{/css/travelRecordWrite.css}" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
  <div th:replace="common/header.html"></div>
  <div class="recordWriteForm">
    <h2> 여행기록하기 </h2>
    <form action="/record/travelRecordWrite" method="post" enctype="multipart/form-data">
      <div class="title">
        <label for="title-name"> 제목 </label>
        <input type="text" id="title-name" name="rcTitle">
      </div>

      <div class="local">
        <label> 여행지 </label>
        <select id="location" name="locCode" onchange="readCity(this.value)">
<!-- 매개변수 제대로 안보내지면 locCode.value 로 넘겨보기-->
          <option th:each="location : ${ Location }"
                  th:value="${ location.locCode}"
                  th:text="${location.locName}">
          </option>
          <option selected>--- 지역선택 ---</option>
          <!-- selected : 초기에 선택되어있는 값 -->
        </select>

        <select id="city-code" name="cityCode">
          <option th:each="city : ${ City }"
                  th:value="${ city.cityCode}"
                  th:text="${city.cityName}">
          </option>
          <option selected>--- 도시선택 ---</option>
        </select>
      </div>

      <div class="date">
        <label for = "dateIn"> 여행 날짜 (시작일 - 종료일) </label>
        <span>
          시작일 : <input type = "date" name="travelStartDate" id="dateIn">
          종료일 : <input type = "date" name="travelEndDate">
        </span>
      </div>

      <div class="tag">
        <label> 태그 </label>
        <select name="recordTag">
          <option th:each="tag : ${ Tag }"
                  th:value="${ tag.tagCode}"
                  th:text="${tag.tagName}">
          </option>
          <option selected>--- 태그선택 ---</option>
        </select>
      </div>

      <div class="content">
        <label> 내용 </label>
        <textarea name="rcDetail"></textarea>
      </div>

      <div class="imgFile">
        <input type="file" name="file" class="imgFile"/>
      </div>

      <button type="submit"> 작성하기 </button>
    </form>
  </div>
<!--  <script type="text/javascript" th:src="@{/js/travelRecordWirte.js}"></script>-->
</body>
    <script th:inline="javascript">
        function readCity(locCode) {

            $.ajax({
                type: "POST",
                url: "/record/city",
                data: {'locCode': locCode},
                dataType: "json",
                success: function (cityDTO) {

                    let city = document.getElementById("city-code");

                    for (let i = 0; i < cityDTO.length; i++) {
                        city.options[i] = new Option(cityDTO[i].cityName, cityDTO[i].cityCode);
                    }

                    city.innerHTML += '<option selected>--- 도시선택 ---</option>';

                }, error: function (e) {
                    alert("발생한 에러 확인" + e);
                }
            })
        };

        /*]]*/
    </script>

</html>