<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>여행기록하기</title>
    <link th:href="@{/css/travelRecordWrite.css}" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
  <div th:replace="common/header.html"></div>
  <div class="recordWriteForm">
    <h2> 여행기록하기 </h2>
    <form action="/record/travelRecordWrite" method="post" enctype="multipart/form-data">
      <div class="title">
        <label for="title-name"> 제목 </label>
        <input type="text" id="title-name" name="rcTitle" required>
      </div>

      <div class="local">
        <label> 여행지 </label>
        <select required="required" id="location" name="locCode" onchange="readCity(this.value)">
          <option th:each="location : ${ Location }"
                  th:value="${ location.locCode}"
                  th:text="${location.locName}">
          </option>
          <option value="" disabled selected>--- 지역선택 ---</option>
          <!-- selected : 초기에 선택되어있는 값 -->
        </select>

        <select id="city-code" name="cityCode" required>
          <option th:each="city : ${ City }"
                  th:value="${city.cityCode}"
                  th:text="${city.cityName}">
          </option>
          <option value="" disabled selected>--- 도시선택 ---</option>
        </select>
      </div>

      <div class="date">
        <label for = "dateIn"> 여행 날짜 (시작일 - 종료일) </label>
        <span>
          시작일 : <input type = "date" name="travelStartDate" id="dateIn"required>
          종료일 : <input type = "date" name="travelEndDate" id="dateOut" required>
        </span>
      </div>

      <div class="tag">
        <label> 태그 </label>
<!--        <input type="text" name="recordTag" list="tagList" placeholder="-&#45;&#45; 태그선택 -&#45;&#45;" required>-->
<!--        <datalist id="tagList">-->
<!--          <option th:each="tag : ${ Tag }"-->
<!--                  th:value="${tag.tagCode}"-->
<!--                  th:text="${tag.tagName}">-->
<!--          </option>-->
<!--          <option value="" disabled selected>-&#45;&#45; 태그선택 -&#45;&#45;</option>-->
<!--        </datalist>-->
        <select required="required" name="recordTag">
          <option th:each="tag : ${ Tag }"
                  th:value="${ tag.tagCode}"
                  th:text="${tag.tagName}">
          </option>
          <option value="" disabled selected>--- 태그선택 ---</option>
        </select>
      </div>

      <div class="content">
        <label> 내용 </label>
        <textarea name="rcDetail" required></textarea>
      </div>

      <div class="imgFile">
        <input type="file" name="file" class="imgFile" required/>
      </div>

      <button type="submit"> 작성하기 </button>
    </form>
  </div>
<!--  <script type="text/javascript" th:src="@{/js/travelRecordWirte.js}"></script>-->
</body>
    <script th:inline="javascript">
    <!-- 날짜 관련 예외처리 함수 -->
      let startDay = document.getElementById("dateIn");
      let endDay = document.getElementById("dateOut");

      let now_utc = Date.now();
      let timeOff = new Date().getTimezoneOffset()*60000;
      let today = new Date(now_utc - timeOff).toISOString().split("T")[0];

      startDay.setAttribute("max", today);
      endDay.setAttribute("max", today);

      startDay.addEventListener('change', function(){
        if(startDay.value)
          endDay.min = startDay.value;
      }, false);

      endDay.addEventListener('change', function (){
        if(endDay.value)
          startDay.max = endDay.value;
      })

        //
        function readCity(locCode) {
            // console.log(locCode);

            // let location = document.getElementById("location");
            let city = document.getElementById("city-code");
            city.options.length = null;

            $.ajax({
                type: "POST",
                url: "/record/city",
                data: {'locCode': locCode},
                dataType: "json",
                success: function (cityDTO) {
                    console.log(cityDTO[0]);

                    // let city = document.getElementById("city-code");

                    for (let i = 0; i < cityDTO.length; i++) {
                        city.options[i] = new Option(cityDTO[i].cityName, cityDTO[i].cityCode);
                    }

                    city.innerHTML += '<option value="" disabled selected>--- 도시선택 ---</option>';

                }, error: function (e) {
                    alert("발생한 에러 확인" + e);
                }
            })
        };

    </script>

</html>