<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>옷홋</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<div id="mainBox" th:replace="common/header.html"/>
    <div id="detailBox">
        <div>
            <div>
                <h1 th:text="${travelInfo.placeName}"/>
            </div>
            <div>
                <span th:text="${travelInfo.address}"/>
                <span th:text="${travelInfo.tel}"/>

                <div class="heart">
                    <th:block th:if ="${checkBookmark == 0}">
                        <img th:id="btn_bookmark" th:src="@{/image/bookmark_before.png}" alt="빈북마크이미지" onclick="bookmarkChange()"/>
                    </th:block>
                    <th:block th:unless ="${checkBookmark == 0}">
                        <img th:id="btn_bookmark" th:src="@{/image/bookmark_after.png}" alt="꽉찬북마크이미지" onclick="bookmarkChange()"/>
                    </th:block>
                </div>
            </div>
        </div>
        <div>
            <img id="mainImg" th:src="${travelInfo.plImgPath}"/>
        </div>
        <div>
            <span th:text="${travelInfo.cityDTO.locationDTO.locName}"/>
            <span>
                <img id="tagImg" th:src="${travelInfo.cityDTO.badgeImg}"/>
            </span>
        </div>
        <div>
            <span th:utext="${travelInfo.contentDetail}"/>
        </div>
    </div>
</div>
</body>
<script th:inline="javascript">
    let placeId = [[${travelInfo.placeId}]];
    let userNo = 1; // 임시 유저 번호
    console.log(userNo, placeId)
    // 북마크 클릭 이벤트
    function bookmarkChange(){

        $.ajax({
            type:"POST" ,
            url:"/recommend/checkingBookmark" ,
            data:{ 'placeId' : placeId,
                    'userNo' : userNo},
            dataType:"json" ,
            success: function (result){
                if(result == 1){
                    $("#btn_bookmark").attr("src", "/image/bookmark_before.png");
                } else{
                    $("#btn_bookmark").attr("src", "/image/bookmark_after.png");
                }
            }
        });
    }

</script>
</html>