<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>옷홋</title>
</head>
<body>
<div th:replace="common/header.html"></div>
    <div th:each="info : ${travelInfo}">
        <div>
            <div>
                <h1 th:text="${info.placeName}"/>
            </div>
            <div>
                <span th:text="${info.address}"/>
                <span th:text="${info.tel}"/>

                <button>저장</button>
            </div>
        </div>
        <div>
            <img id="mainImg" th:src="${info.plImgPath}"/>
        </div>
        <div>
            <span th:text="${info.cityDTO.locationDTO.locName}"/>
            <span>
                <img id="tagImg" th:src="${info.cityDTO.badgeImg}"/>
            </span>
        </div>
        <div>
            <span th:utext="${info.contentDetail}"/>
        </div>
    </div>

</body>
</html>