.plannerWriteForm{
    margin: 60px 18rem 0;
}

.plannerWriteForm h2{
    margin-top: 2rem;
}

.plannerWriteForm form > div {
    border-bottom: 1px solid black;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

/*.plannerWriteForm form > div:first-child{*/
/*    border-bottom: 1px solid black;*/
/*    padding-bottom: 1rem;*/
/*    padding-top: 1rem;*/
/*}*/

.plannerWriteForm label {
    display: inline-block;
    width: 10rem;
    text-align: center;
    border-right: 1px solid black;
    padding: 4px;
}

.plannerWriteForm input[type=text]{
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 70%;
    height: 3rem;
    font-size: 20px;
    margin-left: 8px;
}

.date span{
    margin-left: 8px;
}

#dateIn{
    margin-right: 8px;
}

.content {
    display: flex;
    align-items: center;
}

.content textarea {
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 75%;
    height: 30rem;
    margin-left: 8px;
}

.plannerWriteForm button{
    border: none;
    background: #656565;
    /*width: 50px;*/
    height: 40px;
    border-radius: 10px;
    color: #fff;
    display: block;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*margin-top: 24px;*/
    margin: 24px auto;
    transform: translateX(8px);
}

.plannerWriteForm button:hover{
    background-color: #BF214B;
}