/* 페이징 */
ul{

}
/*이미지*/
.travelImg {
    width: 376px;
    height: 271px;
    /*가로세로 비율은 유지하면서 컨테이너에 꽉 차도록 설정*/
    object-fit: cover;
    /*padding: 10px;*/
}

/*페이징 위치*/
footer {
    bottom: 0;
}

/*메인 위치*/
section {
    min-height: 100%;
    position: relative;
}

/* 추천 여행지 모달 뷰*/
.modalView {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;

    background-color: rgba(0, 0, 0, 0.4);

}

/*모달 뷰*/
.modalMain {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 600px;
    height: 500px;

    padding: 30px;

    text-align: center;

    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
    overflow: auto;

    transform: translateX(-50%) translateY(-50%);
}


/* 배치를 옆으로 이동 */
.travelInfo {
    display: inline-flex;
}

.tagTable {
    display: inline-flex;
}

.travelText{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.locName {
    color: rgba(0,0,0,0.31)
}

/*상위 뷰 (여행지 추천)*/
#travelView {
    width: 90%;
    padding: 20px;
}
/*최상위 뷰(여행지 추천)*/
#topView {
    display: flex;
    justify-content: center;
}

#page {
    list-style: none;
    display: inline-flex;
}

#showUserTag {

}



.tagButton {
    height: 32px;
    background-color: rgb(29,58,111);
    border-radius: 10%;
    color: white;
    font-size: 6px;
    border: none;
}

.tagButton:hover{
    background-color: rgb(175,50,77);
}









