.recordWriteForm{
    margin: 60px 18rem 0;
    /*border: 1px solid gray;*/
}

.recordWriteForm h2{
    margin-bottom: 2rem;
}

.recordWriteForm form > div {
    border-bottom: 1px solid black;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.recordWriteForm form > div:first-child{
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.recordWriteForm label {
    display: inline-block;
    width: 10rem;
    text-align: center;
    border-right: 1px solid black;
    padding: 4px;
}

.title {
    border-top: 1px solid black;
    /*padding-top: 1rem;*/
    /*margin-left: 8px;*/
}

#title-name { /* input box 크기 설정 */
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 70%;
    height: 4rem;
    font-size: 20px;
    margin-left: 8px;
}

.recordWriteForm select {
    width: 30%; /* 가로 사이즈 */
    padding: 10px; /* 내부여백 */
    /*padding-left: 12px;*/
    margin-left: 4px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 12px;
    color: #000;
    outline:none;
}

.recordWriteForm select:hover {
    border: 1px solid #aaa;
}

.local select{
    display: inline-block;
    margin-right: 8px;
}

#location{
    margin-left: 8px;
}

.date span{
    margin-left: 8px;
}

#dateIn{
    margin-right: 16px;
}

.tag select{
    margin-left: 8px;
}

.content {
    display: flex;
    align-items: center;
}

.content label{
    /*border-right: none;*/
}

.content textarea {
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 75%;
    height: 30rem;
    margin-left: 8px;
}

.imgFile{
    margin: 4px;
}

.imgFile img { /* edit form에 필요한 내용 */
    width: 100px;
    height: 100px;
}

.recordWriteForm button{
    border: none;
    background: #656565;
    /*width: 50px;*/
    height: 40px;
    border-radius: 10px;
    color: #fff;
    display: block;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*margin-top: 24px;*/
    margin: 24px auto;
    transform: translateX(8px);
}

.recordWriteForm button:hover{
    background-color: #BF214B;
}
