.recordWriteForm{
    margin: 0 18rem;
}

form > div {
    border: 1px solid red;
    border-top: none;
}

label {
    display: inline-block;
    width: 10rem;
    text-align: center;
    border-right: 1px solid black;
    padding: 2rem;
}

.content {
    display: flex;
    align-items: center;
}

.title {
    border-top: 1px solid red;
}

#title-name {
    border: none;
    width: 30rem;
    height: 4rem;
    font-size: 20px;
}

select {
    width: 50%; /* 가로 사이즈 */
    padding: 10px; /* 내부여백 */
    /*padding-left: 12px;*/
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 12px;
    color: #000;
    outline:none;
}

select:hover {
    border: 1px solid #aaa;
}

.content label{
    border-right: none;
}

textarea {
    border: none;
    border-left: 1px solid blue;
    width: 72%;
    height: 30rem;
}


button{
    border: none;
    background: #656565;
    /*width: 50px;*/
    height: 40px;
    border-radius: 10px;
    color: #fff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    transform: translateX(8px);
}