<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team.semiTravelRecomend.model.dao.RecommendMapper"><!-- 메퍼위치하고  동일하게 네임스페이스 작성-->

    <resultMap type="com.team.semiTravelRecomend.model.dto.PlaceDTO" id="placeResultMap">
        <id property="place_id" column="PLACE_ID"/>
        <result property="place_name" column="PLACE_NAME"/>
        <result property="address" column="ADDRESS"/>
        <result property="tel" column="TEL"/>
        <result property="pl_img_path" column="PL_IMG_PATH"/>
        <result property="content_type" column="CONTENT_TYPE"/>
        <result property="tag_code" column="TAG_CODE"/>
        <result property="content_detail" column="CONTENT_DETAIL"/>

        <association property="cityDTO" column="cityResultMap"/>
    </resultMap>
    <resultMap type="com.team.semiTravelRecomend.model.dto.CityDTO" id="cityResultMap">
        <id property="city_code" column="CITY_CODE"/>
        <result property="loc_code" column="LOC_CODE"/>
        <result property="city_name" column="CITY_NAME"/>
        <result property="badge_img" column="BADGE_IMG"/>
        <result property="local_code" column="LOCAL_CODE"/>

    </resultMap>
    <resultMap type="com.team.semiTravelRecomend.model.dto.TagDTO" id="tagResultMap">
        <id property="tag_code" column="TAG_CODE"/>
        <result property="tag_name" column="TAG_NAME"/>


    </resultMap>
    <select id="showTag" resultMap="tagResultMap">
        select
            *
        from TAG
    </select>
    <select id="showRecommendTravel" resultMap="placeResultMap">
        select
            *
        from PLACE
        where TAG_CODE = 'T3' AND CITY_CODE = 'C70'

    </select>
    <select id="tagRecommendTravel" resultMap="placeResultMap">
        select
            *
        from PLACE
        where TAG_CODE = '${tag_code}'

    </select>


</mapper>