<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>플래너작성</title>
    <link th:href="@{/css/plannerWrite.css}" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
      const successMessage = "[[${ successMessage}]]";
      if (successMessage){
        alert(successMessage);
      }
    </script>
</head>

<body>
  <div th:replace="common/header.html"></div>
  <div class="plannerWriteForm">
    <h2> 플래너 작성하기 </h2>
    <form action="/planner/plannerWrite" method="post" enctype="multipart/form-data">
      <div class="title">
        <label for="travel-place"> 여행지 </label>
        <input type="text" id="travel-place" name="travelPlace" required>
      </div>

      <div class="date">
        <label for = "dateIn"> 여행 날짜 </label>
        <span>
          시작일 : <input type = "date" name="startDueDate" id="dateIn" required>
          종료일 : <input type = "date" name="endDueDate" id="dateOut" required>
        </span>
      </div>

      <div class="lodging">
        <label> 숙소정보 </label>
        <input type="text" name="lodgingInfo" id="lodging">
      </div>

      <div class="transportation">
        <label> 교통수단 </label>
        <input type="text" name="transportation" id="trasnport">
      </div>

      <div class="content">
        <label> 상세일정 </label>
        <textarea name="plDetail"></textarea>
      </div>

      <button type="submit"> 작성하기 </button>
    </form>
  </div>
</body>
    <script th:inline="javascript">
    <!-- 날짜 관련 예외처리 함수 -->
      let startDay = document.getElementById("dateIn");
      let endDay = document.getElementById("dateOut");

      let now_utc = Date.now(); /* Date.now()는 현재 날짜를 utc형식의 밀리 초로 반환 */
      let timeOff = new Date().getTimezoneOffset()*60000; /* getTimezoneOffset()은 utc 시간과의 차이를 분 분단위로 반환하므로 60000을 곱해서 밀리초 단위로 반환 */
      let today = new Date(now_utc - timeOff).toISOString().split("T")[0]; /* now_utc - timeOff 로 기준시간을 구하고, toISOString 통해 시간을 문자열로 바꾸고, T를 기준으로 나눈다 */
                                                                           /* ex) '2023-01-17T17:13'를 T 기준으로 나눠 시간부분은 버리고 앞부분인 날짜부분만 사용한다 */

      startDay.setAttribute("min", today); /* 위의 값을 input type "date" 에 담아서 최소로 설정해서 오늘 전으로는 선택안되도록 한다 */
      endDay.setAttribute("min", today);

      startDay.addEventListener('change', function(){ /* 시작일 먼저 골랐을때, 종료일은 최소 시작일이어야 함 */
        if(startDay.value)
          endDay.min = startDay.value;
      }, false);

      endDay.addEventListener('change', function (){ /* 종료일 먼저 골랐을때, 시작일은 최대 종료일이어야 함 */
        if(endDay.value)
          startDay.max = endDay.value;
      })
    </script>

</html>