<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>여행기록하기</title>
    <link th:href="@{/css/plannerWrite.css}" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
  <div th:replace="common/header.html"></div>
  <div class="plannerWriteForm">
    <h2> 플래너 작성하기 </h2>
    <form action="/planner/plannerEdit" method="post">
      <div class="title">
        <label for="travel-place"> 여행지 </label>
        <input type="text" id="travel-place" name="travelPlace" th:field="${Planner.travelPlace}" required>
      </div>

      <div class="date">
        <label for = "dateIn"> 여행 날짜  </label>
        <span>
          시작일 : <input type = "date" name="startDueDate" id="dateIn" th:field ="${Planner.startDueDate}" required>
          종료일 : <input type = "date" name="endDueDate" id="dateOut" th:field ="${Planner.endDueDate}" required>
        </span>
      </div>

      <div class="Lodging">
        <label> 숙소정보 </label>
        <input type="text" name="lodgingInfo" id=lodging th:field="${Planner.lodgingInfo}" required>
      </div>

      <div class="transportation">
        <label> 교통수단 </label>
        <input type="text" name="transportation" id=trasnport th:field="${Planner.transportation}" required>
      </div>

      <div class="content">
        <label> 상세일정 </label>
        <textarea name="plDetail" th:text="${Planner.plDetail}"></textarea>
      </div>

      <input type="hidden" th:name="planNo" th:value="${Planner.planNo}">
      <button type="submit"> 수정하기 </button>
    </form>
  </div>
</body>
    <script th:inline="javascript">
    <!-- 날짜 관련 예외처리 함수 -->
      let startDay = document.getElementById("dateIn");
      let endDay = document.getElementById("dateOut");

      let now_utc = Date.now();
      let timeOff = new Date().getTimezoneOffset()*60000;
      let today = new Date(now_utc - timeOff).toISOString().split("T")[0];

      startDay.setAttribute("min", today);
      endDay.setAttribute("min", today);

      startDay.addEventListener('change', function(){
        if(startDay.value)
          endDay.min = startDay.value;
      }, false);

      endDay.addEventListener('change', function (){
        if(endDay.value)
          startDay.max = endDay.value;
      })
    </script>
</html>