<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>옷홋</title>
    <link th:href="@{/css/plannerDetail.css}" rel="stylesheet" type="text/css">
</head>
<body>
<!--여기 바꿔야함-->
<div th:replace="common/header.html"></div>

  <div class="planner-detail">
    <h1> 플래너 </h1>
    <div class="travel-place">
      <label> 예상 여행지 </label>
      <div  th:text="${Planner.travelPlace}"> </div>
    </div>
    <hr>
    <div class="plan-info">
      <div class="travel-date">
        <label> 여행일자 </label>
        <div class="date" th:text="${Planner.startDueDate}+ ' ~ ' + ${Planner.endDueDate}"></div>
      </div>

      <div class="lodging-info">
        <label> 숙소정보 </label>
        <div class="lodging" th:text="${Planner.lodgingInfo}"></div>
      </div>

      <div class="transportation-info">
        <label> 교통수단 </label>
        <div class="transportation" th:text="${Planner.transportation}"></div>
      </div>

      <div class="plan-content">
        <label> 세부일정 </label>
        <pre class="content" th:text="${Planner.plDetail}"></pre>
      </div>

    </div>
  </div>
  <div class="edit-delete">
    <button type="button" class="back-list" onclick="location.href='/myPage/myPlanner'"> <- 목록으로 </button>
    <form class="edit" action="/planner/editPlanner" method="post">
      <input type="hidden" th:name="planNo" th:value="${Planner.planNo}"/>
      <button type="submit"> 수정 </button>
    </form>
    <form class="delete" action="/planner/deletePlanner" method="post" onsubmit="return confirm('정말로 삭제하시겠습니까?')">
      <input type="hidden" th:name="planNo" th:value="${Planner.planNo}"/>
      <button type="submit"> 삭제 </button>
    </form>
  </div>
</div>

</body>
</html>