<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="common/header.html"></div>
<div class="recordWriteForm">
  <h2> 플래너 작성하기 </h2>
  <div>
    <table class="myRecord">
      <thead>
      <tr>
        <th> 번호 </th>
        <th> 예정 여행지 </th>
        <th> 예정날짜 </th>
        <th> 숙소정보 </th>
        <th> 교통수단 </th>
        <th> 준비사항 및 상세일정 </th>
      </tr>
      </thead>

      <tbody>
      <tr th:each=" planner : ${Planner}">
        <td th:text="${planner.planNo}"></td> <!--  rowNum으로 받아줘야함 (planNo은 모든 유저가 공통으로 쓰니까)-->
        <td>
          <a th:text="${planner.travelPlace}" href="/planner/plannerDetail/" th:attrappend="href=${planner.planNo}"/>
        </td>
        <td th:text="${planner.startDueDate}+ ' ~ ' + ${planner.endDueDate}"></td>
        <td th:text="${planner.lodgingInfo}"></td>
        <td th:text="${planner.transportation}"></td>
        <td th:text="${planner.plDetail}"></td>
      </tr>
      </tbody>
    </table>

    <div class="edit-delete">
        <form class="edit" action="/planner/editPlanner" method="post">
          <input type="hidden" th:name="planNo" th:value="${Planner.planNo}"/>
          <button type="submit"> 수정 </button>
        </form>
        <form class="delete" action="/planner/deletePlanner" method="post">
          <input type="hidden" th:name="planNo" th:value="${Planner.planNo}"/>
          <button type="submit"> 삭제 </button>
        </form>
    </div>
  </div>
</div>
</body>
</html>