<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/plannerDetail.css}" rel="stylesheet" type="text/css">
</head>
<body>
<!--여기 바꿔야함-->
<div th:replace="common/header.html"></div>
  <div class="plannerDetailForm">
    <h2> 플래너 </h2>
    <wrap>
      <div class="number"> <!-- rowNum으로 받아줘야함 (planNo은 모든 유저가 공통으로 쓰니까) -->
        <span> 번호 : </span>
        <span th:text="${Planner.planNo}"></span>
      </div>

      <div class="title">
        <span> 여행지 : </span>
        <span th:text="${Planner.travelPlace}"></span>
      </div>

      <div class="travelDate">
        <span> 여행일자 : </span>
        <span th:text="${Planner.startDueDate}"></span>
        <span> ~ </span>
        <span th:text="${Planner.endDueDate}"></span>
      </div>

      <div class="lodging">
        <span> 숙소정보 : </span>
        <span th:text="${Planner.lodgingInfo}"></span>
      </div>

      <div class="transportation">
        <span> 교통수단 : </span>
        <span th:text="${Planner.transportation}"></span>
      </div>

      <div class="content">
        <span> 세부일정 </span>
        <textarea th:value="${Planner.plDetail}" th:text="${Planner.plDetail}"></textarea> <!-- textarea 처리를 일단 text로 함 -->
      </div>

    </wrap>
  </div>
</div>
  <div class="edit-delete">
    <form class="edit" action="/planner/editPlanner" method="post">
      <input type="hidden" th:name="planNo" th:value="${Planner.planNo}"/>
      <button type="submit"> 수정 </button>
    </form>
    <form class="delete" action="/planner/deletePlanner" method="post">
      <input type="hidden" th:name="planNo" th:value="${Planner.planNo}"/>
      <button type="submit"> 삭제 </button>
    </form>
  </div>
</body>
</html>